@{
    ViewBag.Title = "Email confirm";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank you for confirming email. @Html.ActionLink("Click here to login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
