@{
    ViewBag.Title = "Contact";
}
<body class="body-style">
    <h3>Contact with us:</h3>
    <address>
        Republic Of Belarus<br />
        Grodno city, O.Solomovoi st., 96<br />
        <abbr title="Phone">P:</abbr>
        375298680880
    </address>
    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">andoider87@gmail.com</a>
    </address>
</body>