@{
    ViewBag.Title = "Home page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body style="background-image:url(../Images/1-temnaya-tekstura-kristalov.png)">
    <link rel="stylesheet" href="../Content/style.css">
    <div>
        <img class="introimg" src="@Url.Content("../Images/synth.png")" alt="IMAGES" />
        <h4 class="intro">Use full power of our synth to create amazing sounds</h4>
        <p></p>
        <img class="introimg" src="@Url.Content("../Images/drum.png")" alt="IMAGES" />
        <h4 class="intro">Create dirrerent drum patterns</h4>
        <p></p>
        <img class="introimg" src="@Url.Content("../Images/patterns.png")" alt="IMAGES" />
        <h4 class="intro">Create patterns for synth that will be great</h4>
        <p></p>
        <img class="introimg" src="@Url.Content("../Images/chat.png")" alt="IMAGES" />
        <h4 class="intro">Use chat to connect with other people</h4>
    </div>
</body>
</html>
