@{
    ViewBag.Title = "Sequencer";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="../Content/normalize.css" rel="stylesheet">
    <link href="../Content/MYXJGM.css" rel="stylesheet prefetch">
    <link href="../content/style.css" rel="stylesheet">
    <title></title>
</head>
<body style="background-image:url(../Images/1-temnaya-tekstura-kristalov.png)">
    <div class="tabs">
        <input id="tab1" type="radio" name="tabs" checked>
        <label for="tab1" title="Synth 1">Synth 1</label>

        <input id="tab2" type="radio" name="tabs">
        <label for="tab2" title="Synth 2">Synth 2</label>

        <input id="tab3" type="radio" name="tabs">
        <label for="tab3" title="Synth 3">Synth 3</label>

        <section id="content1">
            <iframe id="ifrmSynth1" src="../synth.htm" width="100%" style="height: 601px" frameborder=no></iframe>
        </section>
        <section id="content2">
            <iframe id="ifrmSynth2" src="../synth.htm" width="100%" style="height: 601px" frameborder=no></iframe>
        </section>
        <section id="content3">
            <iframe id="ifrmSynth3" src="../synth.htm" width="100%" style="height: 601px" frameborder=no></iframe>
        </section>
    </div>
    <iframe id="ifrmSynth2" src="../synth.htm" width="100%" style="height: 601px; display:none" frameborder=no></iframe>
    <iframe id="ifrmDrum" src="../drum.html" style="height: 600px; width: 44%;" frameborder=no></iframe>
    @*<script>
            function startPlayPattern() {
                var i = 0;
                //var tempo = document.getElementsByTagName("input")[0].value;
                //console.log(tempo);
                var time = ((130/60)*1000)/64;
                //var time = 1000;
                var timerId = setInterval(function () {
                    //console.log(time);
                    patternPlayer(i);
                    i++;
                    if (i == 64) {
                        clearInterval(timerId);
                    }
                }, time);
                // через n сек остановить повторы
                //setTimeout(function () {
                    //clearInterval(timerId);
                    //alert('стоп');
                //}, time * 64);
            }
    </script>*@
    <div class="app">
        <div class="app-region" id="r-top">
            <div class="module transport">
                <h4>Transport</h4>
                <button class="transport-play" title="Play" onclick="rollPlayNote('A3', 1500); return false;">►</button>
                <button class="transport-stop" title="Stop">■</button>
            </div>
            <div class="module transport">
                <h4>Notes</h4>
                <input type="radio" checked name="note" id="1/1" /><label for="1/1">1/1</label>
                <input type="radio" name="note" id="1/2" /><label for="1/2">1/2</label>
                <input type="radio" name="note" id="1/4" /><label for="1/4">1/4</label>
                <input type="radio" name="note" id="1/8" /><label for="1/8">1/8</label>
                <input type="radio" name="note" id="1/16" /><label for="1/16">1/16</label>
            </div>
            <div class="module transport">
                <h4>Tools</h4>
                <input type="radio" checked name="tool" id="add"><label for="add">Add</label>
                <input type="radio" name="tool" id="remove" /><label for="remove">Remove</label>
            </div>
        </div>
    </div>
    @*<div id="content">
        <div id="div-keyboard">
            <img alt="" src="../Images/keyboard.png" style="width:56px; height:630px" />
        </div>
        <div id="div-pattern">
        </div>

    </div>*@
    <div id="pattern">
        <canvas id="grid" width="896" height="700"></canvas>
        <canvas id="notes" width="896" height="700"></canvas>
    </div>
    <script src="../Scripts/pianoRoll.js"></script>
    <script src="../Scripts/pattern-player.js"></script>
</body>
</html>
